/* Universals*/
*{
    background-color: rgb(224, 222, 222);
    font-family: 'Courier New', Courier, monospace
}
/* end*/


/* Header*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: auto;
}
h1{
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
 ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    justify-content: center;
    align-content: center;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    
}


 li{
    
    display: flex;
    flex-wrap: nowrap;
 }
 @media (max-width:701px){

    #navbar-collapse{
        display: block; 
    }
    .li-collapse {
        padding: 10px 10px 10px 10px;
    }
}
a{
    display: flex;
    
    text-decoration: none;
    padding-right: 3rem;
    padding-left: 3rem;
   
}
 /* End */

 .sectioned-container {
    height: 100vh;
    width: 100vw;
 }